<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Vue Practice</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

    <div id="root">
        <div id="list">
            <!-- {{reverseOrder}} -->
            <p>Practice using list and v-for:</p>
            <ul>
                <li v-for="product in products">{{product.name | reverseOrder }}</li>
            </ul> 
            <input v-model="newProduct" v-on:keyup.enter="addProduct"></input>
            <button v-on:click="addProduct">Add Product</button>
        </div>

        <div id="comp-list">
            <p>Displaying Products using Vue Component:</p>
            <product-list v-bind:products="products" />
            <p>Try this...</p>
        </div>
        <button v-on:click="reverseOrder">Reverse the Order</button>
       
    </div>








  <script src="main.js"></script>
  
</body>
</html>